body{

   margin: 0px 0px 0px 0px;
}
html{

    font-size: 6.25%;
}
.main{

    height: 772rem;
    width: 1472rem;
    background-color: pink;
    display: inline-block;
    background-image:url(images.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.log{

    width: 290rem;
    height: 400rem;
    /* background-color: red; */
    position: relative;
    /* height: 300px; */
    display: inline-block;
    margin: 150rem 800rem 150rem 400rem;
    overflow: hidden;
    background: transparent;
    background: rgba(0, 0,0, 0.4);
}
.btn-box{

    width: 195rem;
    margin:25rem auto;
    position: relative;
    background: rgba(0, 0,0, 0.3);
  border-radius: 20rem;
  color: white;
  border: 1rem solid white;
  box-shadow: 0 0 1rem  1rem whitesmoke;
  /* background-color: #ffffff; */
 /* background-color: white; */
   /* position: absolute; */
   /* margin-left: 25rem; */
}
.top-btn{

   padding: 8rem 26rem;
   cursor: pointer;
   background: transparent;
   border: 0;
   position: relative;
   color: white;
   
}
#btn {

    top:0;
    left:0;
    width: 92rem;
    height: 100%;
    position: absolute;
    /* background: rgba(0, 0,0, 0.4); */
    /* height:; */
    transition: .5s;
    border-radius: 20rem;
   /* background-color:rgb(31, 75, 155); */
   box-shadow: 0 0 10rem  4rem whitesmoke;
   background: rgba(0, 0,0, 0.10);
}
#signin{

    /* background-color: white; */
    padding-left: 50rem;
    font-size: 10rem;
}

.input-group{
      
    top:60rem;
    position: absolute;
    width:240rem;
    transition: .5s;
    margin-top: 30rem;


}
.input-field{
     width: 240rem;
     padding: 10rem 0;
     margin: 10rem 0;
     border-left: 0;
     border-top: 0;
     border-right: 0;
     border-bottom: 1rem solid #ffffff;
     /* background-color: yellow; */
     outline: none;
     background: transparent;
     cursor: pointer;
     margin-left: 20rem;
        
     color: white;

}
input-field :hover{
    
}

.check-box{
     margin: 20rem 8rem 20rem 0;
    color: beige;
    margin-left: 20rem;
    display: inline-block;

}
span{

    color: aliceblue;
    font-size: 10rem;
    bottom: 50px;
    color: white;
    height: 5rem;
    /* position: absolute; */
    display: inline-block;
}
.submit-btn input[type=submit] {
  width: 200rem;
  padding: 5rem 18rem;
  
background-color: transparent;
display: block;
margin: auto;
border: 0;
outline: none;
border-radius: 20rem;
outline: none;
color: white;
border: 1rem solid white;
margin-top: 25rem;
margin-left: 43rem;
display: inline-block;
}

#forgot a{

color: blanchedalmond;
font-size: 10rem;

}
#signup a{
color:palevioletred;
font-size: 10rem;
}
#login{
    left:rem;
}
#registration{
    left: 300rem;
}
.input-group a{
    font-size: 10rem;
    height: 2rem;
    display: inline-block;
    margin-left: 25rem;
    margin-bottom: 10rem;
    color: #ffffff;
    
}
@media (max-width:985px){

   
   
    .log{
          /* width: 1200rem; */
        margin:100rem 600rem 100rem 300rem;
    }
    .submit-btn{
        margin-top: 25rem;
        /* border: 1rem solid white; */
    }
    .submit-btn{
        margin-bottom: 50rem;
      }
}
 @media (max-width:680px){ 
    .log{
        margin-left: 100rem;
    }
    .submit-btn{
        margin-bottom: 28rem;
      }
 }
    
@media (max-width:414px){
    html{
        font-size: 5.8%;
    }
    .log{
        margin:80rem 100rem 50rem 40rem;
    }
    .btn-box{
      
    }
    .top-btn{
       padding-left: 20rem ;


    }
  .check-box{

    margin:10rem 4rem 10rem 25rem ;

  }
  .submit-btn{
    margin-bottom: 20rem;
  }
}
    
    
